In [1]:
import numpy as np
import pandas as pd

# 4.1.1
(1) 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.

(2) 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.

In [29]:
# 1)
# 임의로 두개의 시리즈 모두 문자열 인덱스 ~ 

a = pd.Series([1,2,3,4,5],index=['하나','둘','셋','넨','다섯'])
b = pd.Series([6,7,8,9,10],index=['여섯','일곱','여덟','아홉','열'])
c = b['여섯']+a['하나']
c

7

In [13]:
# a = {'하나':1,'둘':2,'셋':3,'넷':4,'다섯':5}
# a1 = pd.Series(a)
# type(a1)

pandas.core.series.Series

In [26]:
for key, value in a.items():
    print(key,value)

하나 1
둘 2
셋 3
넷 4
다섯 5

In [64]:
# 더하기 
c = a[0:]+b['여섯']
# 빼  기
c = a[0:] - b[0]
c
# 곱하기
c = a['하나']*b[0::2]
c = a[-1]*['여섯']
c = a['하나']/b['여섯']
c

0.16666666666666666

# 4.1.2
다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.

(1) 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.

(2) 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

In [81]:
data = {
    '점수' : [0,'ㄴ',2,3,4],
    '점수2' : [5,6,7,8,9],
    '점수3' : [10,11,12,13,14],
    '점수4' : [10,11,12,13,14],
    '점수5' : [10,11,12,13,14]
}
data_name = ['민우','현지','은지','현아','명숙']
df = pd.DataFrame(data, index=data_name)
df

   점수  점수2  점수3  점수4  점수5
민우  0    5   10   10   10
현지  ㄴ    6   11   11   11
은지  2    7   12   12   12
현아  3    8   13   13   13
명숙  4    9   14   14   14

# 4.1.3
다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

(2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

(4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

(5) 춘향의 점수를 데이터프레임으로 나타낸다.

(6) 향단의 점수를 시리즈로 나타낸다.

In [137]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [144]:
df['국어'] # df.국어,df.['국어'][0]
df['국어']['춘향'],df['국어'][0],df.국어.춘향,df.국어[0]

(80, 80, 80, 80)

In [145]:
# (2)
df[['국어','영어']]
df[columns[0:2]]
df.iloc[0:,0:2] # 행부터 찾을수있게해줌 # c언어 쓰는 사람은 이게 편할듯

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [192]:
# (3)

df['평균'] = df.mean(axis=1).round(2)
df

    국어  영어  수학     평균
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  40  70  46.67

# 4.3.1
모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

10가지 이상의 방법으로 특정한 행과 열을 선택한다.

In [ ]:
# df = { 
#     국어 : {    } 
#     영어 : {    }
#     수학 : {    }

# }
# df_name