# Pandas

1.Serises

In [33]:
import numpy as np  # 업계표준
import pandas as pd # 업계표준

In [34]:
s = pd.Series([9904312,3448737,2890457,2466052],index =["서울","부산","인천","대구"])
s

서울    9904312
부산    3448737
인천    2890457
대구    2466052
dtype: int64

In [35]:
s[0], s['서울'] #

(9904312, 9904312)

In [36]:
s[[1,3]] # 1,3이것만 끌어낼꺼야

부산    3448737
대구    2466052
dtype: int64

In [37]:
s[::2] # 슬라이싱도 가능하다.

서울    9904312
인천    2890457
dtype: int64

In [38]:
cities = {'서울':9904312, '부산':3448737,'인천':2890451,'대구':24466052}

s2 = pd.Series(cities)
s2
type(cities)

dict

In [39]:
dice = pd.Series(np.random.randint(1,7,5))
dice

0    1
1    5
2    6
3    2
4    4
dtype: int32

In [40]:
# Serises의 데이터는 넘파이이므로 수식을 바로 적용할 수 있음
s / 1000000

서울    9.904312
부산    3.448737
인천    2.890457
대구    2.466052
dtype: float64

In [41]:
for key, value in s.items():
    print(key, value)

서울 9904312
부산 3448737
인천 2890457
대구 2466052

In [42]:
for key, value in s2.items():
    print(key, value)

서울 9904312
부산 3448737
인천 2890451
대구 24466052

In [43]:
s

서울    9904312
부산    3448737
인천    2890457
대구    2466052
dtype: int64

In [44]:
np.nan, np.inf # 실수형안에 들어가는 데이터

(nan, inf)

In [45]:
s.values  # valuses 넘파이 배열이다. array

array([9904312, 3448737, 2890457, 2466052], dtype=int64)

In [46]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [47]:
s.name = '도시' # 컬럼명으로 갈 수 있음
s

서울    9904312
부산    3448737
인천    2890457
대구    2466052
Name: 도시, dtype: int64

In [48]:
np.random.seed(2021)
dice = pd.Series(np.random.randint(1,7,100))
dice.count()

100

In [49]:
# 고유한 값
dice.unique

<bound method Series.unique of 0     5
1     6
2     2
3     1
4     6
     ..
95    2
96    2
97    6
98    1
99    6
Length: 100, dtype: int32>

In [50]:
# 고유한 값의종류 
dice.nunique     # np.unique랑 같은거 ?

<bound method IndexOpsMixin.nunique of 0     5
1     6
2     2
3     1
4     6
     ..
95    2
96    2
97    6
98    1
99    6
Length: 100, dtype: int32>

In [51]:
# 고유한 값별로 갯수가 나온다.
dice.value_counts() # sort 순서대로 나오네 ? 무조건 외워라  암기암기

2    21
6    21
3    19
4    18
5    13
1     8
dtype: int64

In [52]:
s. sum(), s.max(), s.mean()

(18709558, 9904312, 4677389.5)

In [53]:
s.describe() # 요약통계정보를 얻어낼수있다 .

count    4.000000e+00
mean     4.677390e+06
std      3.507775e+06
min      2.466052e+06
25%      2.784356e+06
50%      3.169597e+06
75%      5.062631e+06
max      9.904312e+06
Name: 도시, dtype: float64

# sorting

In [54]:
# s.sort_values

In [55]:
# s.sort_values(ascending=True)

In [56]:
# s.sort_values(ascending=False)

In [57]:
s.sort_values()[::-1]

서울    9904312
부산    3448737
인천    2890457
대구    2466052
Name: 도시, dtype: int64

In [58]:
s.sort_values()

대구    2466052
인천    2890457
부산    3448737
서울    9904312
Name: 도시, dtype: int64

In [59]:
s.sort_index()

대구    2466052
부산    3448737
서울    9904312
인천    2890457
Name: 도시, dtype: int64

In [60]:
s.sort_index()[::-1]

인천    2890457
서울    9904312
부산    3448737
대구    2466052
Name: 도시, dtype: int64

 - 결측치(Na,Null,Nan)처리

In [61]:

ds.isna() # 결측치가 있는지 없는지 알아볼수있다.

NameError: name 'ds' is not defined

In [ ]:
# value_counts() method로는 결측치가 있는지 확인 불가

In [ ]:
ds.isna().sum() # 전부다 정상이면 결측치가 0이나옴

0

In [ ]:
dice.isnull().sum()

0

In [ ]:
# 결측치를 평균으로 대체 
dice.fillna() # 결측치 대체
ds.fillna(ds.mean()) # 결측치 평균으로 대체가능 
ds.fillna(0)
ds.fillan(0).astype(int) # 타입바꾸는

In [ ]:
ds.dropna() # 결측치 제거

# inplace option

In [ ]:
ds_median = ds.fillna(ds.median()).astpye(int)
ds_median

AttributeError: 'Series' object has no attribute 'astpye'

In [ ]:
ds.dropna(inplace=True) # 데이터가 날아감  # 데이터를 바꾸고싶면 인플레이스를 쓴다 .

NameError: name 'ds' is not defined

# Pandas

2. DataFrame

In [ ]:
# 1) 생성
import numpy as np
import pandas as pd

1) 생성

In [71]:
data = {
    '국어' : [80,90,70,30],
    '영어' : [90,70,60,40],
    '수학' : [90,60,80,70]
}
index = ['춘향','몽룡','향단','방자']
df = pd.DataFrame(data, index = index)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [72]:
data = {
    '국어' : [80,90,70,30],
    '영어' : [90,70,60,40],
    '수학' : [90,60,80,70]
}
data = pd.DataFrame(data,index=['춘향','몽룡','향단','방자'])
data

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [73]:
import random
np.random.seed(2021)
df2 = pd.DataFrame(np.random.randint(40,101,12).reshape(4,3),
                    columns = ['국어','영어','수학'], index = index)
df2

    국어  영어  수학
춘향  92  61  97
몽룡  40  85  70
향단  62  84  67
방자  69  61  69

In [74]:
# 반복문으로 데이터를 만드는 경우 딕셔너리의 리스트를 만들어 생성 
l = [] 
for i in range(4):
    d =  {'국어':np.random.randint(40,101),
        '영어':np.random.randint(40,101),
        '수학':np.random.randint(40,101)
        }
    l.append(d)
l

[{'국어': 64, '영어': 52, '수학': 94},
 {'국어': 46, '영어': 78, '수학': 46},
 {'국어': 73, '영어': 77, '수학': 47},
 {'국어': 41, '영어': 86, '수학': 73}]

In [75]:
df3 = pd.DataFrame(l, index=index)
df3

    국어  영어  수학
춘향  64  52  94
몽룡  46  78  46
향단  73  77  47
방자  41  86  73

### 2) 인덱싱

In [77]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [78]:
df['국어']

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

In [79]:
df. 국어

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

- 열 인덱스, 행 인덱스

In [80]:
df['국어']['춘향'], df['국어'][0], df.국어[0] , df.국어.춘향 # numpy스타일은 안됨

(80, 80, 80, 80)

In [81]:
df['국어'][:]

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

In [82]:
df[['국어','영어']][:'향단'] # 슬라이싱은 안되고 리스트 처럼은 줄수 있음

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60

In [83]:
df[['국어','영어']][:2]  # 인덱스 값을 포함하고 안하고가 큰 차이가 있음

    국어  영어
춘향  80  90
몽룡  90  70

In [ ]:
df[['국어']][:'향단'] # 컬럼에 리스트가 들어가있으면 데이터 프레임이고 없으면 시리즈이다.

    국어
춘향  80
몽룡  90
향단  70

- loc 인덱서: [행인덱스, 열인덱스]

In [ ]:
# numpy와 pandas 의 짬뽕

In [84]:
df.loc['몽룡','국어'], df.loc[1]['국어'], df.loc['몽룡',0], df.loc[1,0]

KeyError: 1

# Iloc

In [85]:
df.loc['몽룡'][0] , df.loc['몽룡']['국어']

(90, 90)

In [ ]:
df.iloc[1,0]

90

In [ ]:
df['국어']['방자'] = 75
df['영어']['방자'] = 82

df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  75  82  70

In [ ]:
df['과학']=[50,60,70,80]# 컬럼 추가 가능 
df

    국어  영어  수학  과학
춘향  80  90  90  50
몽룡  90  70  60  60
향단  70  60  80  70
방자  75  82  70  80

ㅇ 삭제

In [ ]:
del df['과학']

In [ ]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  75  82  70

# 행삭제

In [ ]:
df.drop(['방자']) # df 가 변하지 않음

    국어  영어  수학  과학
춘향  80  90  90  50
몽룡  90  70  60  60
향단  70  60  80  70

In [ ]:
df.drop(['방자'],inplace=True)

In [ ]:
df

    국어  영어  수학  과학
춘향  80  90  90  50
몽룡  90  70  60  60
향단  70  60  80  70