# Pandas - 데이터 조작

In [2]:
import numpy as np
import pandas as pd

In [5]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR') # 설명이면 한줄 건너뛰어야한다. seq , skiprows, encoding 세개로 맞추는거임 
cctv

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76
5,광진구,"2,588",35,57,100,187,98,52,675,465,712,175,32
6,동대문구,"2,497","1,090",146,60,29,111,233,136,197,209,223,63
7,중랑구,"3,296",302,24,253,88,141,161,162,173,1049,939,4
8,성북구,"3,958",83,78,170,230,323,594,460,867,714,251,188
9,강북구,"2,462",0,0,24,65,105,243,6,392,1000,588,39
10,도봉구,"1,629",39,22,96,181,79,159,134,222,198,168,331
11,노원구,"2,415",0,97,193,77,516,331,175,216,320,386,104
12,은평구,"3,791",14,3,44,332,329,555,403,635,1057,288,131
13,서대문구,"2,940",730,253,155,108,137,223,356,237,343,397,1
14,마포구,"2,421",58,93,77,61,162,454,359,343,494,300,20
15,양천구,"3,312","1,413",167,181,143,180,350,139,140,274,325,0
16,강서구,"2,560",55,129,106,213,188,168,506,259,457,356,123
17,구로구,"4,075",852,216,349,187,268,326,540,488,434,415,0
18,금천구,"2,374",0,0,178,80,361,133,196,540,369,508,9
19,영등포구,"3,778",572,136,238,123,209,248,311,658,65,"1,213",5
20,동작구,"2,297",41,24,25,503,128,253,271,300,322,419,11
21,관악구,"4,942",428,205,291,513,529,621,687,663,640,331,34
22,서초구,"3,704",116,75,94,71,563,516,1060,428,358,420,3
23,강남구,"6,502",124,77,75,597,840,1310,999,748,789,942,1
24,송파구,"2,854",72,61,86,85,215,148,241,542,1068,235,101
25,강동구,"2,547",332,27,163,49,154,202,273,377,356,614,0

ㅇ 탐색을위한메소드

In [6]:
cctv.head() # 위에 보여줌

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [8]:
cctv.tail(2) # 아래 보여줌

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
24,송파구,"2,854",72,61,86,85,215,148,241,542,1068,235,101
25,강동구,"2,547",332,27,163,49,154,202,273,377,356,614,0

In [9]:
cctv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구분        26 non-null     object
 1   총계        26 non-null     object
 2   2012년 이전  26 non-null     object
 3   2012년     26 non-null     object
 4   2013년     26 non-null     object
 5   2014년     26 non-null     object
 6   2015년     26 non-null     object
 7   2016년     26 non-null     object
 8   2017년     26 non-null     object
 9   2018년     26 non-null     object
 10  2019년     26 non-null     object
 11  2020년     26 non-null     object
 12  2021년     26 non-null     object
dtypes: object(13)
memory usage: 2.8+ KB

In [34]:
df = pd.DataFrame(np.random.randint(40,101,20).reshape(4,5),columns=list('ABCDE'), index=list('wxyz')) # 데이타프레임\
df

    A   B   C   D   E
w  92  64  63  42  53
x  96  82  99  91  61
y  48  99  54  83  80
z  59  53  84  91  82

In [19]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, w to z
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int32
 1   B       4 non-null      int32
 2   C       4 non-null      int32
 3   D       4 non-null      int32
 4   E       4 non-null      int32
dtypes: int32(5)
memory usage: 112.0+ bytes

               A          B          C          D         E
count   4.000000   4.000000   4.000000   4.000000   4.00000
mean   59.250000  75.000000  62.000000  63.500000  64.25000
std    11.814539   7.438638  21.213203  24.852901  19.70406
min    46.000000  67.000000  40.000000  41.000000  43.00000
25%    52.750000  72.250000  46.750000  52.250000  49.75000
50%    58.500000  74.000000  61.000000  57.000000  66.00000
75%    65.000000  76.750000  76.250000  68.250000  80.50000
max    74.000000  85.000000  86.000000  99.000000  82.00000

- sum(),min,max,mean

In [20]:
df.sum() # axis = 0

A    237
B    300
C    248
D    254
E    257
dtype: int64

In [21]:
df.sum(axis=1)

w    312
x    371
y    336
z    277
dtype: int64

In [24]:
df.std(axis=1) # 표준편차

w    16.133815
x    18.458061
y    18.700267
z    14.028542
dtype: float64

In [53]:
df.iloc[0:,[4]].mean(axis=0).round(2) # 이것도 가능하네 
df.iloc[[0],0:].mean(axis=1).round(2) # 이것도 가능하네

w    62.8
dtype: float64

In [83]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [84]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [55]:
titanic.isna().sum().sum() # 왜 섬 두개쓰는거야 나온결과를 바로 합치려고 섬섬 쓴거임

869

In [56]:
titanic.isna().sum() # 결적치 더한 결과

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [85]:
# age 결측치는 평균으로 대체
titanic['age'].round(4).fillna(titanic.age.mean(),inplace=True)
titanic['age'].round(5)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [86]:
titanic.tail(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [87]:
# embarked 겉측치는 행 삭제
titanic.dropna(subset=['embarked'],inplace=True)
titanic.dropna(subset=['embark_town'],inplace=True)
titanic.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [81]:
# deck 컬럼은 컬럼 삭제
#del titanic['deck']
# subset : 행 colums : 열

In [88]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
titanic.drop(columns=['deck'],inplace=True)

In [93]:
titanic.tail(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
889,1,1,male,26.0,0,0,30.00,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,Queenstown,no,True

- apply()

In [94]:
df = pd.DataFrame(np.random.randint(40,101,20).reshape(4,5),columns=list('ABCDE'), index=list('wxyz')) # 데이타프레임\
df

     A   B   C   D    E
w  100  81  52  41   58
x   72  93  66  88  100
y   69  71  62  68   82
z   84  85  75  42   77

In [102]:
# 각열의 최대값과 최소값의 차이
df.apply(lambda x: x.max() -x.min(),axis=0) # 열의 -최대값과 최소값의 차이

A    31
B    22
C    23
D    47
E    42
dtype: int64

In [111]:
df.apply(lambda x: x.max() -x.min(),axis=1) # 행의 -최대값과 최소값의 차이

w    59
x    34
y    20
z    43
dtype: int64

In [120]:
# 타이타닉호 승객중 20살이 넘으면 'adult' 그렇지 않으면 child
titanic['adult child'] = titanic.apply(lambda x:'adult' if x.age > 20 else 'child', axis=1) 
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,adult child
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False,adult
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False,adult
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True,adult
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False,adult
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True,adult
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True,child
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,Southampton,no,False,child
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True,adult
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True,adult

In [121]:
# cctv 소수점 없애기
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [171]:
cctv.iloc[:,2:] = cctv.iloc[:,2:].apply(lambda x: int(x.replace(',','')))

TypeError: cannot convert the series to <class 'int'>

In [125]:
cctv.columns

Index(['구분', '총계', '2012년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년', '2019년', '2020년', '2021년'],
      dtype='object')

In [134]:
for colum in cctv.columns[2:]:
    cctv[colum] = cctv[colum].apply(lambda x: int(x.replace(',','')))

AttributeError: 'int' object has no attribute 'replace'

In [135]:
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [137]:
df = pd.DataFrame(np.random.randint(40,101,20).reshape(4,5),columns=list('ABCDE'), index=list('wxyz')) # 데이타프레임\
df

    A   B   C   D   E
w  58  85  72  51  41
x  78  94  49  60  71
y  57  58  79  58  65
z  62  44  65  64  83

In [138]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR') # 설명이면 한줄 건너뛰어야한다. seq , skiprows, encoding 세개로 맞추는거임 
cctv

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76
5,광진구,"2,588",35,57,100,187,98,52,675,465,712,175,32
6,동대문구,"2,497","1,090",146,60,29,111,233,136,197,209,223,63
7,중랑구,"3,296",302,24,253,88,141,161,162,173,1049,939,4
8,성북구,"3,958",83,78,170,230,323,594,460,867,714,251,188
9,강북구,"2,462",0,0,24,65,105,243,6,392,1000,588,39
10,도봉구,"1,629",39,22,96,181,79,159,134,222,198,168,331
11,노원구,"2,415",0,97,193,77,516,331,175,216,320,386,104
12,은평구,"3,791",14,3,44,332,329,555,403,635,1057,288,131
13,서대문구,"2,940",730,253,155,108,137,223,356,237,343,397,1
14,마포구,"2,421",58,93,77,61,162,454,359,343,494,300,20
15,양천구,"3,312","1,413",167,181,143,180,350,139,140,274,325,0
16,강서구,"2,560",55,129,106,213,188,168,506,259,457,356,123
17,구로구,"4,075",852,216,349,187,268,326,540,488,434,415,0
18,금천구,"2,374",0,0,178,80,361,133,196,540,369,508,9
19,영등포구,"3,778",572,136,238,123,209,248,311,658,65,"1,213",5
20,동작구,"2,297",41,24,25,503,128,253,271,300,322,419,11
21,관악구,"4,942",428,205,291,513,529,621,687,663,640,331,34
22,서초구,"3,704",116,75,94,71,563,516,1060,428,358,420,3
23,강남구,"6,502",124,77,75,597,840,1310,999,748,789,942,1
24,송파구,"2,854",72,61,86,85,215,148,241,542,1068,235,101
25,강동구,"2,547",332,27,163,49,154,202,273,377,356,614,0

In [169]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR') # 설명이면 한줄 건너뛰어야한다. seq , skiprows, encoding 세개로 맞추는거임 
cctv
cctv2 = cctv.iloc[0:,2:]

In [170]:
cctv2.apply()

,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,"7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,813,0,0,210,150,1,261,85,9,200,43
2,16,114,87,77,236,240,372,386,155,361,289
3,34,71,234,125,221,298,351,125,307,617,0
4,448,125,212,105,339,310,874,390,262,461,76
5,35,57,100,187,98,52,675,465,712,175,32
6,"1,090",146,60,29,111,233,136,197,209,223,63
7,302,24,253,88,141,161,162,173,1049,939,4
8,83,78,170,230,323,594,460,867,714,251,188
9,0,0,24,65,105,243,6,392,1000,588,39
10,39,22,96,181,79,159,134,222,198,168,331
11,0,97,193,77,516,331,175,216,320,386,104
12,14,3,44,332,329,555,403,635,1057,288,131
13,730,253,155,108,137,223,356,237,343,397,1
14,58,93,77,61,162,454,359,343,494,300,20
15,"1,413",167,181,143,180,350,139,140,274,325,0
16,55,129,106,213,188,168,506,259,457,356,123
17,852,216,349,187,268,326,540,488,434,415,0
18,0,0,178,80,361,133,196,540,369,508,9
19,572,136,238,123,209,248,311,658,65,"1,213",5
20,41,24,25,503,128,253,271,300,322,419,11
21,428,205,291,513,529,621,687,663,640,331,34
22,116,75,94,71,563,516,1060,428,358,420,3
23,124,77,75,597,840,1310,999,748,789,942,1
24,72,61,86,85,215,148,241,542,1068,235,101
25,332,27,163,49,154,202,273,377,356,614,0

TypeError: cannot convert the series to <class 'int'>

In [173]:
df = pd.DataFrame(np.random.randint(40,101,20).reshape(4,5),columns=list('ABCDE'), index=list('wxyz')) # 데이타프레임\
df

    A   B   C   D   E
w  88  71  77  41  74
x  65  75  40  99  89
y  65  77  97  87  62
z  72  45  87  93  77

In [183]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR') # 설명이면 한줄 건너뛰어야한다. seq , skiprows, encoding 세개로 맞추는거임 
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [190]:
cctv.iloc[:,2:] = cctv.iloc[:,2:].apply(lambda x: x.str.replace(',',''))
cctv

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76
5,광진구,2588,35,57,100,187,98,52,675,465,712,175,32
6,동대문구,2497,1090,146,60,29,111,233,136,197,209,223,63
7,중랑구,3296,302,24,253,88,141,161,162,173,1049,939,4
8,성북구,3958,83,78,170,230,323,594,460,867,714,251,188
9,강북구,2462,0,0,24,65,105,243,6,392,1000,588,39
10,도봉구,1629,39,22,96,181,79,159,134,222,198,168,331
11,노원구,2415,0,97,193,77,516,331,175,216,320,386,104
12,은평구,3791,14,3,44,332,329,555,403,635,1057,288,131
13,서대문구,2940,730,253,155,108,137,223,356,237,343,397,1
14,마포구,2421,58,93,77,61,162,454,359,343,494,300,20
15,양천구,3312,1413,167,181,143,180,350,139,140,274,325,0
16,강서구,2560,55,129,106,213,188,168,506,259,457,356,123
17,구로구,4075,852,216,349,187,268,326,540,488,434,415,0
18,금천구,2374,0,0,178,80,361,133,196,540,369,508,9
19,영등포구,3778,572,136,238,123,209,248,311,658,65,1213,5
20,동작구,2297,41,24,25,503,128,253,271,300,322,419,11
21,관악구,4942,428,205,291,513,529,621,687,663,640,331,34
22,서초구,3704,116,75,94,71,563,516,1060,428,358,420,3
23,강남구,6502,124,77,75,597,840,1310,999,748,789,942,1
24,송파구,2854,72,61,86,85,215,148,241,542,1068,235,101
25,강동구,2547,332,27,163,49,154,202,273,377,356,614,0

In [200]:
cctv.iloc[2:,2:] = cctv.iloc[2:,2:].apply(lambda x: x.replace(',',''))

In [198]:
cctv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구분        26 non-null     object
 1   총계        26 non-null     object
 2   2012년 이전  26 non-null     object
 3   2012년     26 non-null     object
 4   2013년     26 non-null     object
 5   2014년     26 non-null     object
 6   2015년     26 non-null     object
 7   2016년     26 non-null     object
 8   2017년     26 non-null     object
 9   2018년     26 non-null     object
 10  2019년     26 non-null     object
 11  2020년     26 non-null     object
 12  2021년     26 non-null     object
dtypes: object(13)
memory usage: 2.8+ KB