# Pandas - 데이터 조작

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR') # 설명이면 한줄 건너뛰어야한다. seq , skiprows, encoding 세개로 맞추는거임 
cctv

ㅇ 탐색을위한메소드

In [ ]:
cctv.head() # 위에 보여줌

In [ ]:
cctv.tail(2) # 아래 보여줌

In [ ]:
cctv.info()

In [ ]:
df = pd.DataFrame(np.random.randint(40,101,20).reshape(4,5),columns=list('ABCDE'), index=list('wxyz')) # 데이타프레임\
df

In [ ]:
df.info()
df.describe()

- sum(),min,max,mean

In [ ]:
df.sum() # axis = 0

In [ ]:
df.sum(axis=1)

In [ ]:
df.std(axis=1) # 표준편차

In [ ]:
df.iloc[0:,[4]].mean(axis=0).round(2) # 이것도 가능하네 
df.iloc[[0],0:].mean(axis=1).round(2) # 이것도 가능하네

In [ ]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
titanic.info()

In [ ]:
titanic.isna().sum().sum() # 왜 섬 두개쓰는거야 나온결과를 바로 합치려고 섬섬 쓴거임

In [ ]:
titanic.isna().sum() # 결적치 더한 결과

In [ ]:
# age 결측치는 평균으로 대체
titanic['age'].round(4).fillna(titanic.age.mean(),inplace=True)
titanic['age'].round(5)

In [ ]:
titanic.tail(2)

In [ ]:
# embarked 겉측치는 행 삭제
titanic.dropna(subset=['embarked'],inplace=True)
titanic.dropna(subset=['embark_town'],inplace=True)
titanic.tail()

In [ ]:
# deck 컬럼은 컬럼 삭제
#del titanic['deck']
# subset : 행 colums : 열

In [ ]:
titanic

In [ ]:
titanic.drop(columns=['deck'],inplace=True)

In [ ]:
titanic.tail(2)

- apply()

In [ ]:
df = pd.DataFrame(np.random.randint(40,101,20).reshape(4,5),columns=list('ABCDE'), index=list('wxyz')) # 데이타프레임\
df

In [ ]:
# 각열의 최대값과 최소값의 차이
df.apply(lambda x: x.max() -x.min(),axis=0) # 열의 -최대값과 최소값의 차이

In [ ]:
df.apply(lambda x: x.max() -x.min(),axis=1) # 행의 -최대값과 최소값의 차이

In [ ]:
# 타이타닉호 승객중 20살이 넘으면 'adult' 그렇지 않으면 child
titanic['adult child'] = titanic.apply(lambda x:'adult' if x.age > 20 else 'child', axis=1) 
titanic

In [ ]:
# cctv 소수점 없애기
cctv.head()

In [ ]:
cctv.iloc[:,2:] = cctv.iloc[:,2:].apply(lambda x: int(x.replace(',','')))

In [ ]:
cctv.columns

In [ ]:
for colum in cctv.columns[2:]:
    cctv[colum] = cctv[colum].apply(lambda x: int(x.replace(',','')))

In [ ]:
cctv.head()

In [ ]:
df = pd.DataFrame(np.random.randint(40,101,20).reshape(4,5),columns=list('ABCDE'), index=list('wxyz')) # 데이타프레임\
df

In [ ]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR') # 설명이면 한줄 건너뛰어야한다. seq , skiprows, encoding 세개로 맞추는거임 
cctv

In [ ]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR') # 설명이면 한줄 건너뛰어야한다. seq , skiprows, encoding 세개로 맞추는거임 
cctv
cctv2 = cctv.iloc[0:,2:]

In [ ]:
cctv2.apply()

In [ ]:
df = pd.DataFrame(np.random.randint(40,101,20).reshape(4,5),columns=list('ABCDE'), index=list('wxyz')) # 데이타프레임\
df

In [ ]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR') # 설명이면 한줄 건너뛰어야한다. seq , skiprows, encoding 세개로 맞추는거임 
cctv.head()

In [ ]:
cctv.iloc[:,2:] = cctv.iloc[:,2:].apply(lambda x: x.str.replace(',',''))
cctv

In [ ]:
cctv.iloc[2:,2:] = cctv.iloc[2:,2:].apply(lambda x: x.replace(',','')).astype(int)

In [2]:
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
# 1번 문제 해결 
titanic.count()

In [49]:
titanic.sort_values(by='sex'),titanic.sort_values(by='age'),titanic.sort_values(by='class'),titanic.sort_values(by='sex')

AttributeError: 'DataFrame' object has no attribute 'attibute'

In [ ]:
titanic.sort_values(by='alive')

타이타닉호 승객의 평균 나이를 구하라.

타이타닉호 승객중 여성 승객의 평균 나이를 구하라.

타이타닉호 승객중 1등실 선실의 여성 승객의 평균 나이를 구하라.

In [ ]:
# 평균 나이
titanic.age.mean()

In [ ]:
# 타이타닉호 승객중 여성 승객의 평균 나이를 구하라.
titanic['sex'] = titanic.apply(lambda x:'female' if x.sex == 'female' else False)