- DataFrame - 문자열조작

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('법정동코드 전체자료.txt', sep='\t',encoding='euc-kr')
df.tail()

            법정동코드                  법정동명 폐지여부
46295  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46296  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46297  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46298  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46299  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

In [3]:
len(df)

46300

In [4]:
# 폐지된 주소는 삭제 되도록 필터링
df = df[df['폐지여부'] == '존재'] # 폐지여부가 존재인 열기준으로 원소가 존재인것만 뽑음
len(df)

20551

In [5]:
# 인덱싱  -> 뽑아내는 것
df['법정동명'].str[:5].tail() # 문자열 메소드 쓴이유 ? 법정동명에서 앞에서 다섯글자만 가지고와라 
df.법정동명.str[:5].tail() # 문자열 메소드 쓴이유 ? 법정동명에서 앞에서 다섯글자만 가지고와라

46295    제주특별자
46296    제주특별자
46297    제주특별자
46298    제주특별자
46299    제주특별자
Name: 법정동명, dtype: object

In [6]:
'abcdefgh'[:5] # 스트링에서 앞에서 5글자만 가지고와라

'abcde'

In [7]:
#찾기
df['법정동명'].str.find('제주').tail() # 시작하는 위치에 있으면 0으로 나옴 # 결손?

46295    0
46296    0
46297    0
46298    0
46299    0
Name: 법정동명, dtype: int64

In [3]:
df['법정동명'].str.find('제주').head() # 시작하는 위치에 없으면 1로 나옴 # 결손?

0   -1
1   -1
2   -1
3   -1
4   -1
Name: 법정동명, dtype: int64

In [4]:
# 분할
df['법정동명'].str.split().tail()
#df.법정동명.str.split().tail()

46295    [제주특별자치도, 서귀포시, 표선면, 하천리]
46296    [제주특별자치도, 서귀포시, 표선면, 성읍리]
46297    [제주특별자치도, 서귀포시, 표선면, 가시리]
46298    [제주특별자치도, 서귀포시, 표선면, 세화리]
46299    [제주특별자치도, 서귀포시, 표선면, 토산리]
Name: 법정동명, dtype: object

In [6]:
df['법정동명'].str.contains('제주').tail() # 제주를 포함하는 문자열은 True 아니면 False

df['법정동명'].str.contains('제주').tail()

46295    True
46296    True
46297    True
46298    True
46299    True
Name: 법정동명, dtype: bool

In [11]:
jeju = df[df['법정동명'].str.contains('제주')==True] # 폐지여부가 존재인 열기준으로 원소가 존재인것만 뽑음
len(jeju)

213

In [12]:
jeju = df[df.법정동명.str.contains('제주')] # True , False를 쓰지 않아도 가능함 .
len(jeju)

213

In [13]:
# 문자 대체
df.법정동명.str.replace(' ','_').tail() # str.replace를 이용하여 띄어쓰기를 언더바로 바꿈

46295    제주특별자치도_서귀포시_표선면_하천리
46296    제주특별자치도_서귀포시_표선면_성읍리
46297    제주특별자치도_서귀포시_표선면_가시리
46298    제주특별자치도_서귀포시_표선면_세화리
46299    제주특별자치도_서귀포시_표선면_토산리
Name: 법정동명, dtype: object

In [14]:
# 제주에 법정동명은 = > 
jeju['법정동명'] = jeju['법정동명'].str.replace(' ','?#&*')
jeju.head()

            법정동코드                    법정동명 폐지여부
46084  5000000000                 제주특별자치도   존재
46085  5011000000          제주특별자치도?#&*제주시   존재
46086  5011010100  제주특별자치도?#&*제주시?#&*일도일동   존재
46087  5011010200  제주특별자치도?#&*제주시?#&*일도이동   존재
46088  5011010300  제주특별자치도?#&*제주시?#&*이도일동   존재

In [15]:
# 정규 표현식이 사용가능하다 
jeju['법정동명'] = jeju['법정동명'].str.replace('[^가-힣]','')# 한글이 아닌놈은 스페이스로 바꿔라?
jeju.head()

            법정동코드            법정동명 폐지여부
46084  5000000000         제주특별자치도   존재
46085  5011000000      제주특별자치도제주시   존재
46086  5011010100  제주특별자치도제주시일도일동   존재
46087  5011010200  제주특별자치도제주시일도이동   존재
46088  5011010300  제주특별자치도제주시이도일동   존재

In [16]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [20]:
# cctv 총계를 apply 
cctv['총계'].apply(lambda x: int(x.replace(',',''))).head()

0    77032
1     1772
2     2333
3     2383
4     3602
Name: 총계, dtype: int64

In [21]:
cctv['총계'].str.replace(',','').astype(int).head()

0    77032
1     1772
2     2333
3     2383
4     3602
Name: 총계, dtype: int32

In [24]:
cctv['총계'].str.replace(',','').astype(int).head()

0    77032
1     1772
2     2333
3     2383
4     3602
Name: 총계, dtype: int32

In [ ]:
cctv.iloc[:,1:] = cctv.iloc[:,1:].apply(lambda x :x.str.replace(',','')).astype(int)

In [30]:
# cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [33]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR')
for column in cctv.columns[1:]:
    cctv[column] = cctv[column].str.replace(',','').astype(int)

In [38]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR')
#cctv.iloc[:,1:] = cctv.iloc[:,1:].apply(lambda x :x.str.replace(',','')).astype(int)
#cctv.head()
#cctv['총계'].str.replace(',','').astype(int).head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [41]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76