# 데이터 프레임 - 인덱스 조작

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
np.random.seed(2021)
data = np.vstack([list('ABCDE'), np.random.rand(3,5).round(2)]) # 무엇을 쌓을꺼냐면~
data

In [ ]:
df = pd.DataFrame(data.T,columns=['C1','C2','C3','C4'])
df

In [41]:
df = pd.DataFrame(np.random.rand(5,3), columns=['C2','C3','C4'])
df['C1'] = list('ABCDE')
df

         C2        C3        C4 C1
0  0.672129  0.643485  0.828014  A
1  0.204469  0.617489  0.617701  B
2  0.301069  0.871741  0.589654  C
3  0.981770  0.442232  0.126318  D
4  0.508831  0.431786  0.915940  E

In [42]:
df2 = df.set_index('C1')     # set-index 이름 바꾸기 ?
df2                          # c1은 인덱스 이다 .
# 이걸 만드는 이유 데이터 프레임을 합치는 작업을 할것임

          C2        C3        C4
C1
A   0.672129  0.643485  0.828014
B   0.204469  0.617489  0.617701
C   0.301069  0.871741  0.589654
D   0.981770  0.442232  0.126318
E   0.508831  0.431786  0.915940

In [ ]:
df.set_index('C1',inplace=True)
df.index.name = 'Index' # 데이타 프레임 인덱스의 이름을 'Index'로 바꿔라 
df

In [ ]:
df3 = df.reset_index().round(2)
df3

In [ ]:
df.reset_index(inplace=True)
df.rename(columns={'Index':'C1'},inplace=True) # 딕셔너리로 되어있다는것은 다른것은 다른것들도 얼마든지 바꿀수있다는뜻 
df

In [ ]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR')
cctv.head()

In [ ]:
# 1) 계 행을 삭제
cctv.drop([0], inplace=True)
cctv.head()

In [ ]:
# 2) 구분 열을 인덱스로 변경하고 이름도 자치구로 변경

cctv.set_index('구분', inplace=True)
cctv.index.name = '자치구'
cctv.head()

In [ ]:
# 3) 인덱스에서 공백(중 구)삭제
#cctv['자치구'] = cctv['자치구'].apply(lambda x: x.str.replace())
cctv.index = cctv.index.str.replace(' ','')
cctv.head()

In [ ]:
# 4) 데이터에서 천단위 구분기호를 지우고 정수로 변경 이것을 전처리라고 부름 
cctv = cctv.apply(lambda x: x.str.replace(',','')).astype(int)

In [ ]:
cctv.head()

In [ ]:
#2012년이전 ~ 2017년 까지 더해서,'2017년 이전'으로 만들고 위 칼럼은 삭제
# for i in range(len(cctv.columns[1:7])):
#     cctv.iloc[:,[7]] += cctv.iloc[:,[i]]
# df.rename(columns={'2017년':'2017년이전'},inplace=True)

# 5) 2017년 이전
cctv['2017년 이전'] = cctv.총계 - cctv['2018년'] - cctv['2019년'] - cctv['2020년'] - cctv['2021년']
cctv.drop(columns=['2012년 이전','2012년','2013년','2014년','2015년','2016년','2017년','2021년'],inplace=True)
cctv.head(3)

In [ ]:
# 2018년부터 ~ 2020년까지 더해서 '최근 3개년'로 만들고 위 칼럼은 삭제
cctv['최근 3개년'] = cctv['2018년'] + cctv['2019년'] + cctv['2020년']
cctv.drop(columns=['2018년','2019년','2020년'],inplace=True)
cctv.head()

In [ ]:
# 7) '최근 증가율'을 구한다.
cctv['최근 증가율'] = (cctv['최근 3개년'] / cctv['2017년 이전'] * 100).round(2)
cctv.rename(columns={'총계':'CCTV댓수'},inplace=True)
cctv.head(3)

In [ ]:
# 8) CCTV 댓수 Top 5
cctv.sort_values(by='CCTV댓수',ascending=False).head() # ascending 이 뭐였지

In [ ]:
# 9) 최근 증가율 Top 5
cctv.sort_values(by='최근 증가율',ascending=False).head()

In [ ]:
# 10) cctv.csv로 저장
cctv.to_csv('cctv.csv')