# Pandas 파일 입출력

In [2]:
import numpy as np
import pandas as pd

In [5]:
# # %로 시작하는 명령어 - 매직 명령어
# %%writefile sample1.csv
# c1,c2,c3
# 1,1.11,one
# 2,2.22,two
# 3,3.33,three

UsageError: Line magic function `%%writefile` not found.

In [20]:
pd.read_csv('sample1.csv') # 파일 읽어주기 # csv 읽어주기

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [21]:
df.to_csv('sample2.csv') # csv로 보낸다

In [15]:
# df = pd.read_csv('sample2.csv')
# df

   Unnamed: 0  c1    c2     c3
0           0   1  1.11    one
1           1   2  2.22    two
2           2   3  3.33  three

In [22]:
df.to_csv('sample3.csv',index=False) # 또는 index = Null
pd.read_csv('sample3.csv')

   Unnamed: 0  c1    c2     c3
0           0   1  1.11    one
1           1   2  2.22    two
2           2   3  3.33  three

In [29]:
df = pd.read_csv('smaple5.tsv',sep='\t',skiprows=1) # 또는 index = Null
df

      제주    서귀포      중문
0     국어     영어      수학
1  1,200  1,090   1,000
2    870    490     380
3  2,060  3,095   2,590

In [55]:
df = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',end='',skiprows=-1,encoding='EUC-KR') # 또는 index = Null
df
# skiprows 뜻

TypeError: read_csv() got an unexpected keyword argument 'end'

In [1]:
df = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=1,encoding='EUC-KR') # 설명이면 한줄 건너뛰어야한다. seq , skiprows, encoding 세개로 맞추는거임 
df

NameError: name 'pd' is not defined

In [8]:
import pandas as pd
df = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',skiprows=-1,encoding='EUC-KR') # 또는 index = Null
df
df.iloc[1:,2:] = df.iloc[1:,2:].apply(lambda x: x.str.replace(',','')).astype(int)

In [9]:
df

,"※ 2021.7.31. 현황을 기준으로 각 연도별 설치된 CCTV 수량. 교체(저화질교체, 성능개선)는 최초설치연도가 아닌 교체년도 수량에 포함",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
1,계,"77,032",7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
2,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
3,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
4,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
5,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76
6,광진구,"2,588",35,57,100,187,98,52,675,465,712,175,32
7,동대문구,"2,497",1090,146,60,29,111,233,136,197,209,223,63
8,중랑구,"3,296",302,24,253,88,141,161,162,173,1049,939,4
9,성북구,"3,958",83,78,170,230,323,594,460,867,714,251,188
10,강북구,"2,462",0,0,24,65,105,243,6,392,1000,588,39
11,도봉구,"1,629",39,22,96,181,79,159,134,222,198,168,331
12,노원구,"2,415",0,97,193,77,516,331,175,216,320,386,104
13,은평구,"3,791",14,3,44,332,329,555,403,635,1057,288,131
14,서대문구,"2,940",730,253,155,108,137,223,356,237,343,397,1
15,마포구,"2,421",58,93,77,61,162,454,359,343,494,300,20
16,양천구,"3,312",1413,167,181,143,180,350,139,140,274,325,0
17,강서구,"2,560",55,129,106,213,188,168,506,259,457,356,123
18,구로구,"4,075",852,216,349,187,268,326,540,488,434,415,0
19,금천구,"2,374",0,0,178,80,361,133,196,540,369,508,9
20,영등포구,"3,778",572,136,238,123,209,248,311,658,65,1213,5
21,동작구,"2,297",41,24,25,503,128,253,271,300,322,419,11
22,관악구,"4,942",428,205,291,513,529,621,687,663,640,331,34
23,서초구,"3,704",116,75,94,71,563,516,1060,428,358,420,3
24,강남구,"6,502",124,77,75,597,840,1310,999,748,789,942,1
25,송파구,"2,854",72,61,86,85,215,148,241,542,1068,235,101
26,강동구,"2,547",332,27,163,49,154,202,273,377,356,614,0

In [13]:
import numpy as np
df = pd.DataFrame(np.arange(25).reshape(5,5),columns=list('abcde'),index=list('56789'))
df

    a   b   c   d   e
5   0   1   2   3   4
6   5   6   7   8   9
7  10  11  12  13  14
8  15  16  17  18  19
9  20  21  22  23  24